[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
  default = current
[user]
  name = Joban Mendpara
  email = jobanmendpara@gmail.com
[core]
  editor = "nvim"
